.header-wrapper{
    margin-top: $header-margin-md;

    text-align: center;
}

.article-gallery-container{
    margin: $container-margin-lg;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .carousel{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        background-color: $tertiary-color;
        border-radius: 1rem;
    }

    .carousel::-webkit-scrollbar{
        height:0.5rem;
    }
    .carousel::-webkit-scrollbar-thumb {
        background-color: $secondary-color;    /* color of the scroll thumb */
        border-radius: 5rem;       /* roundness of the scroll thumb */
    }

    .article-wrapper{
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        justify-content: space-between;

        background-color: $primary-color;

        margin: $slide-margin-lg;
        padding: $slide-padding-lg;
        overflow: hidden;

        box-shadow: 0 0 1rem $secondary-color;
        border-radius: 1rem;
        
        width: 20rem;
        height: 20rem;
    }

    .content{
        word-wrap: break-word;
        max-height: 90%;
        overflow-y: hidden;
        margin-bottom: 0.5rem;
    }

    .button-wrapper{
        align-items: flex-end;

        padding: 0.5rem;
        width: 8rem;
        max-height: 1rem;

        background-color: $button-color;
        color: $text-light-color;
        border-radius: 0.5rem;
        text-align: center;
    }

    .button-wrapper:hover{
        background-color: lighten($button-color,15%);
        color: $text-light-color;
    }

    @media screen and (max-width: 1280px) {
        margin: $container-margin-md;
        margin-top: 0;

        .article-wrapper{
            margin: $slide-margin-md;
            padding: $slide-padding-md;

        }

        .button-wrapper{
            padding: $button-padding-md;
        }
    }

    @media screen and (max-width: 768px) {
        margin: $container-margin-sm;
        margin-top: 0;

        .article-wrapper{
            margin: $slide-margin-sm;
            padding: $slide-padding-sm;
            
        }

        .button-wrapper{
            padding: $button-padding-sm;

            border-radius: 0.5rem;
        }
    }
}