.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: $header-color;

    .logo{
        color: $text-light-color;
        padding: $button-padding-lg;
    }

    @media only screen and (max-width: 1280px) {
        .logo{
            padding: $button-padding-md;
        }
    }
}

.navbar-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1rem;

    a{
        text-decoration: none;
    }

    .menu-item{
        padding: $button-margin-md;
        color: $text-light-color;
    }

    .menu-item:hover{
        background-color: $button-color;
        border-radius: 1rem;
        color: $text-light-color;
    }

    @media screen and (max-width: 1280px) {
        .menu-item{
            padding: $button-margin-md;
        }
    }

    @media only screen and (max-width: 768px) { //TODO:Create responsive navbar
        flex-direction: column;
        justify-content: center;

        .menu-item{
            padding: $button-margin-sm;
        }
    }
}