.timeline-container{
    margin: $container-margin-lg;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .carousel{
        display: flex;
        flex-wrap: nowrap;
        overflow-x:auto;
        // justify-content: center;
    }
    .carousel::-webkit-scrollbar{
        height:1rem;
    }
    .carousel::-webkit-scrollbar-thumb {
        background-color: $secondary-color;    /* color of the scroll thumb */
        border-radius: 5rem;       /* roundness of the scroll thumb */
      }

    .swiper-wrapper{
        text-align: center;
        font-size: 12px;
    }

    .point-wrapper {
        display: flex;
        justify-content: center;

        width: 15rem;
        // border-top: 3px solid $tertiary-color;
        margin-bottom: 1rem;
    }

    .point-wrapper:hover{
        filter: brightness(1.75);
        cursor: pointer;
    }

    .point-img{
        height:1rem;
        width:1rem;
    }

    @media screen and (max-width: 1280px) {
        margin: $container-margin-md;
        .point-wrapper{
            width: 10rem;
        }
    }

    @media screen and (max-width: 768px) {
        margin: $container-margin-sm;
        .point-wrapper{
            width: 5rem;
        }
    }
}